<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rhythm Shop</title>
    <link rel="stylesheet" href="/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<%- include('menu') %>
<section class="section">
    <div class="container">
        <div class= "container-fluid">
            <h4>News</h4>
            <div class= "row d-inline-flex">
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Oxy will perform in Minsk again</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article2.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Who new Artist of our label?</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article3.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Blast – Music HTML Template</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article4.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Masters Behind the Mix - Part III</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article5.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Masters Behind the Mix - Part II</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <div class="news-post__content">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="col-12 col-sm-6 col-md-4 p-2">
                    <div class="d-flex flex-column text-center border height100">
                        <div>
                            <img src="image/article6.jpg"/>
                        </div>
                        <h2 class="news-post__title"><a href="article.html">Masters Behind the Mix - Part I</a></h2>
                        <div class="news-post__date">March 29, 2017</div>
                        <div class="news-post__content">
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <button type="button" class="default-btn default-btn--red default-btn--center">Load more</button>
            </div>
        </div>
    </div>
</section>
<%- include('footer') %>
</body>
</html>